{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}
{% endblock %}
{% block javascripts %}
<div class="row">
<div class="col-md-12">
<div class="modal fade" id="myModal">
<div class="modal-dialog ">
<div class="modal-header">
<h1>title</h1>
</div>
<div class="modal-body">
this is body
</div>
<div class="modal-footer">
<input class="btn btn-default" value="Close">
</div>
</div>
</div>
</div>
</div>
        {% endblock %}